[submodule "NAM"]
	path = numbers/NAM
	url = https://github.com/Simiacryptus/nam.git
	branch = main
[submodule "PI_RCC"]
	path = numbers/PI_RCC
	url = https://github.com/Simiacryptus/pi-rcc.git
	branch = main
[submodule "QQN"]
	path = optimization/QQN
	url = https://github.com/Simiacryptus/qqn.git
	branch = main
[submodule "QQN-Visuals"]
	path = optimization/QQN-Visuals
	url = https://github.com/Simiacryptus/qqn-visuals.git
	branch = main
[submodule "RCC"]
	path = numbers/RCC
	url = https://github.com/Simiacryptus/rcc.git
	branch = main
[submodule "TEL"]
	path = numbers/TEL
	url = https://github.com/Simiacryptus/tel.git
	branch = main
[submodule "3inline"]
	path = experiments/3inline
	url = https://github.com/Simiacryptus/3inline.git
	branch = main
[submodule "chromatic"]
	path = tools/chromatic
	url = https://github.com/Simiacryptus/chromatic.git
	branch = main
[submodule "fractal_learning"]
	path = experiments/fractal_learning
	url = https://github.com/Simiacryptus/fractal-learning.git
	branch = main
[submodule "geometric-entropy"]
	path = physics/geometric-entropy
	url = https://github.com/Simiacryptus/geometric-entropy.git
	branch = main
[submodule "gravity"]
	path = physics/gravity
	url = https://github.com/Simiacryptus/gravity.git
	branch = main
[submodule "irrational_lattice"]
	path = quadratics/irrational_lattice
	url = https://github.com/Simiacryptus/irrational-lattice.git
	branch = main
[submodule "layered_ca"]
	path = ca/layered_ca
	url = https://github.com/Simiacryptus/layered-ca.git
	branch = main
[submodule "markov-analysis"]
	path = ca/markov-analysis
	url = https://github.com/Simiacryptus/markov-analysis.git
	branch = main
[submodule "mesh"]
	path = physics/mesh
	url = https://github.com/Simiacryptus/mesh.git
	branch = main
[submodule "nam-calculator"]
	path = numbers/nam-calculator
	url = https://github.com/Simiacryptus/nam-calculator.git
	branch = main
[submodule "no3sieve"]
	path = experiments/no3sieve
	url = https://github.com/Simiacryptus/no3sieve.git
	branch = main
[submodule "optimization-mechanics"]
	path = optimization/optimization-mechanics
	url = https://github.com/Simiacryptus/optimization-mechanics.git
	branch = main
[submodule "pid-ca"]
	path = ca/pid-ca
	url = https://github.com/Simiacryptus/pid-ca.git
	branch = main
[submodule "primegen"]
	path = numbers/primegen
	url = https://github.com/Simiacryptus/primegen.git
	branch = main
[submodule "spacelike-knots"]
	path = physics/spacelike-knots
	url = https://github.com/Simiacryptus/spacelike-knots.git
	branch = main
[submodule "static-secrets"]
	path = tools/static-secrets
	url = https://github.com/Simiacryptus/static-secrets.git
	branch = main
[submodule "symmetry_simple"]
	path = physics/symmetry_simple
	url = https://github.com/Simiacryptus/symmetry-simple.git
	branch = main
[submodule "pentagon"]
	path = quadratics/pentagon
	url = git@github.com:SimiaCryptus/Pentagon_Lattice_Geometry.git
[submodule "fractal-mosaic"]
	path = experiments/fractal-mosaic
	url = https://github.com/Simiacryptus/fractal-mosaic.git
	branch = main
[submodule "chaos-garden"]
	path = physics/chaos-garden
	url = https://github.com/Simiacryptus/chaos-garden.git
	branch = main
[submodule "experiments/magnet-lattice"]
	path = experiments/magnet-lattice
	url = https://github.com/Simiacryptus/magnet-lattice.git
	branch = main
[submodule "experiments/pastaponics"]
	path = experiments/pastaponics
	url = https://github.com/Simiacryptus/pastaponics.git
	branch = main
[submodule "experiments/point-cad"]
	path = experiments/point-cad
	url = https://github.com/Simiacryptus/point-cad.git
	branch = main
