[submodule "essays/NAM"]
	path = essays/NAM
	url = https://github.com/Simiacryptus/nam.git
	branch = main
[submodule "essays/PI_RCC"]
	path = essays/PI_RCC
	url = https://github.com/Simiacryptus/pi-rcc.git
	branch = main
[submodule "essays/QQN"]
	path = essays/QQN
	url = https://github.com/Simiacryptus/qqn.git
	branch = main
